*{
    box-sizing: border-box;
    margin: 0%;
    background-color: rgb(211, 211, 211);
}


footer{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgb(98, 98, 98);
}

article{
    background-color: rgb(196, 246, 196);
    margin-top: 10%;
}

.card-body, .card, .card-title, .card-text{
    margin-top: 10%;
    background-color: rgb(117, 117, 117);
}

.btn{
    margin-top: 5%;
    margin-bottom: 5%;
}

