*{
    box-sizing: border-box;
    margin: 0%;
    background-color: rgb(23, 23, 23);
    height: auto;
}

.presentacion{
    text-decoration-color: aliceblue;
}

.card-img-top{
    height: 10%
}

.custom-link {
    color: white;
    text-decoration: none;
  }

footer{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgb(98, 98, 98);
}





